/* ================ Fonts ================ */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "American-Captain";
  src: url("../fonts/American-Captain.otf") format("opentype");
}

/* ===============< color,fonts and width >=============== */
:root {
  /* colors varibles*/
  --primary-Color: rgba(0, 219, 168, 0.6);
  --secondary-Color: rgba(0, 88, 219, 0.6);
  --bg-Color: #1a191a;
  --bg-Color-2: rgba(48, 45, 48, 0.16);
  --text-Color: #ffffff;
  --accent-Color: rgba(209, 41, 41, 0.6);

  /* fonts variables */
  --sf-pro-display: "SF Pro Display", sans-serif;
  --american-captain: "American-Captain", sans-serif;

  /* font sizes variables */
  --fs-lg: 8.125rem;
  --fs-semi-lg: 6.875rem;
  --fs-md: 3.5rem;
  --fs-semi-md: 2.1875rem;
  --fs-sm: 2rem;
  --fs-semi-sm: 1.5rem;
  --fs-xx-sm: 1.0625rem;

  /* Section Variables*/
  --section-padding: 6.25rem;
  --section-width: calc(120rem - 6.25rem * 2);
}

/* ==========< Flex & Grid Utilities >========== */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-sb {
  align-items: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

/* ========== Section heading ========== */
.section--head {
  font-family: var(--american-captain);
  font-weight: 400;
  font-size: var(--fs-lg);
  line-height: normal;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.section--subHead {
  font-family: var(--sf-pro-display);
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: normal;
}

/* ========== Body ========== */
body {
  background-color: var(--bg-Color);
  color: var(--text-Color);
}

button {
  transition: transform 0.2s ease-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
}

/* ========== Container ========== */
.container {
  max-width: var(--section-width);
  margin: 0 auto;
}

/* ==================== Header Section CSS Start ==================== */
.header {
  background: url("../img/hero-bg.png") no-repeat top;
  background-size: cover;
}

.header > .flex {
  flex-direction: column;
}

.header__navbar {
  padding: 2rem 0;
}

/* Logo */
.header__logo h2 {
  font-size: var(--fs-md);
  font-family: var(--american-captain);
  font-weight: 400;
}
/* Menu */
.header__menu ul {
  gap: 2.5rem;
}

.header__menu li,
.header__contact--btn,
.header__discover--btn {
  font-size: var(--fs-semi-sm);
  font-family: var(--sf-pro-display);
  font-weight: 500;
  text-transform: capitalize;
}

.header__contact--btn,
.header__discover--btn {
  border: 2px solid var(--text-Color);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

.header__hero {
  text-align: right;
  padding-block: 5.75rem 17.56rem;
}

.header__content {
  flex-direction: column;
  align-items: end;
}

.header__content h1 {
  max-width: 42rem;
}

.header__content h3 {
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 20rem;
  margin-block: 0.25rem 1.75rem;
}

.header__discover--btn {
  gap: 0.62rem;
}
/* ==================== Header Section CSS End ==================== */

/* ==================== About Section CSS Start ==================== */
.about {
  padding-block: 3.75rem;
  overflow: hidden;
}

.about .container {
  position: relative;
}

.about .container::after {
  content: "about us";
  color: #373737;
  font-weight: 700;
  font-size: 12.5rem;
  font-family: var(--sf-pro-display);
  opacity: 0.3;
  position: absolute;
  right: -5.5rem;
  bottom: -10rem;
  z-index: -999;
}

.about__header h2 {
  line-height: 1;
  margin-bottom: 4.24rem;
  text-align: center;
}

.about___content > * {
  flex: 1;
}

.about__text {
  align-self: center;
  padding-right: 10rem;
}

.about__text p {
  font-size: var(--fs-semi-sm);
  font-family: var(--sf-pro-display);
  font-weight: 400;
}

.about__text p:not(:last-child) {
  margin-bottom: 1.5rem;
}
/* ==================== About Section CSS End ==================== */

/* ==================== Benifits Section CSS Start ==================== */
.benefits {
  background-color: var(--bg-Color-2);
}

.benefits .container {
  position: relative;
  padding-block: 5.62rem 7.12rem;
}

.benefits .container::before {
  content: url("../img/Lines-2.png");
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.benefits .container::after {
  content: url("../img/Lines-1.png");
  color: #fff;
  position: absolute;
  right: -5rem;
  bottom: 0;
}

.benefits__header h2 {
  font-size: var(--fs-semi-lg);
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

.benefits__header p {
  font-size: var(--fs-semi-sm);
  margin-top: 2.5rem;
  text-align: center;
}

.benefits__cards {
  display: flex;
  justify-content: space-around;
  gap: 5.31rem;
  margin-top: calc(4.28rem * 2 + 1rem);
  padding-inline: 8.13rem;
}
/* Benifit Cards CSS */
.benefits__cards > * {
  flex: 1;
}

.benefits__card--item {
  border-radius: 1rem;
  max-width: fit-content;
  padding: 2.19rem 2.12rem;
  position: relative;
  text-align: center;
}

.benefits__card--img {
  height: 17rem;
  margin-top: -8.5rem;
  padding: 0.98rem 2.12rem;
}

.benefits__card--img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.benefits__card--item h5 {
  font-size: var(--fs-sm);
  font-family: var(--sf-pro-display);
  font-weight: 700;
  margin: 1.25rem auto;
  text-transform: capitalize;
}

.benefits__card--item p {
  font-size: var(--fs-semi-sm);
  font-family: var(--sf-pro-display);
  font-weight: 500;
  margin-top: 1rem;
}

.benefits__card--item p a {
  display: block;
  margin-top: 1rem;
  text-decoration: underline;
}

.card--primary {
  background-color: var(--primary-Color);
}

.card--secondary {
  background-color: var(--secondary-Color);
}

.card--accent {
  background-color: var(--accent-Color);
}

/* ==================== Benifits Section CSS End ==================== */

/* ==================== Cars Section CSS Start ==================== */
.cars {
  padding-top: 6.25rem;
}

.cars__header h2 {
  font-size: var(--fs-semi-lg);
  line-height: 1;
}

.cars__header p {
  font-size: var(--fs-semi-sm);
  margin-top: 2rem;
}
/* Cars Slider CSS */
.cars__slider {
  margin-top: 3.75rem;
}

.cars__slider--1 {
  height: 16.875rem;
}

.slider-item {
  height: 16.875rem;
  position: relative;
}

.slider-item:hover {
  cursor: pointer;
}

.slider-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider__item--overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  scale: 0;
  transition: scale 0.5s ease-out;
}

.slider__item--overlay h4 {
  font-size: var(--fs-sm);
  font-family: var(--sf-pro-display);
  font-weight: 700;
}

.slider__item--overlay h5 {
  font-size: 1.25rem;
  font-family: var(--sf-pro-display);
  font-weight: 500;
  margin-block: 0.62rem 1.75rem;
}

.slider__item--overlay button {
  border: 2px solid var(--text-Color);
  border-radius: 0.5rem;
  padding: 0.5rem 1.75rem;
  font-size: var(--fs-semi-sm);
  font-family: var(--sf-pro-display);
  font-weight: 600;
  text-transform: capitalize;
}

.slider-item:hover .slider__item--overlay {
  background-color: rgba(0, 0, 0, 0.8);
  scale: 1;
}

/* ==================== Cars Section CSS End ==================== */

/* ==================== Play Section CSS Start ==================== */
.play {
  background-color: var(--bg-Color-2);
  padding-block: 5.25rem;
  position: relative;
  overflow: hidden;
}

.play .container {
  position: relative;
}

.play .container::before {
  content: url("../img/star_2.png");
  color: #fff;
  position: absolute;
  top: 4rem;
  left: -6rem;
  z-index: -999;
}

.play .container::after {
  content: url("../img/star_1.png");
  color: #fff;
  position: absolute;
  right: -5rem;
  bottom: -9rem;
}

.play__header h2 {
  margin-bottom: 3.13rem;
  max-width: 40rem;
  text-align: left;
  line-height: 1;
}

.play__header p {
  max-width: 25rem;
  text-align: left;
}

.play__video {
  position: relative;
}

.play--btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* ==================== Play Section CSS End ==================== */

/* ==================== Contact Section CSS Start ==================== */
.contact {
  padding-block: 7.25rem;
}

.contact .container {
  position: relative;
}

.contact .container::before {
  content: "contact us";
  color: #fff;
  font-weight: 700;
  font-size: 15.43281rem;
  font-family: var(--sf-pro-display);
  opacity: 0.1;
  position: absolute;
  top: -8rem;
  left: -6rem;
}

.contact > .container > * {
  flex: 1;
}

.contact__header {
  align-self: center;
}

.contact__header h2 {
  font-size: 7.5rem;
  text-align: left;
  line-height: 1;
}

.contact__header p {
  max-width: 44rem;
  text-align: left;
  line-height: 3.125rem;
}
/* Contact Form CSS */
.contact__form {
  font-size: var(--fs-semi-sm);
  font-family: var(--sf-pro-display);
}

.contact__form form {
  max-width: 39rem;
  margin-left: auto;
}

.form-group {
  margin-bottom: 3.12rem;
  position: relative;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-Color);
  outline: none;
  padding: 1rem;
  width: 100%;
}

.form-group input::placeholder {
  color: #fff;
}

.form-group select {
  color: white;
  cursor: pointer;
}

.form-group select option {
  background-color: var(--bg-Color);
}

.contact__form input[type="submit"] {
  background-color: transparent;
  border: none;
  border: 1px solid var(--text-Color);
  border-radius: 0.5rem;
  display: block;
  max-width: fit-content;
  padding: 0.6rem 2.56rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.contact__form input[type="submit"]:hover {
  transform: translateY(-3px);
}

.form-group:nth-of-type(4) {
  border-bottom: 1px solid var(--text-Color);
}

.form-group:nth-of-type(5) {
  width: 98%;
}

.form-group.inline {
  display: inline-block;
  width: 49%;
}
/* ==================== Contact Section CSS End ==================== */

/* ==================== Footer Section CSS Start ==================== */
.footer {
  padding-block: 3.75rem;
}

.footer__header h2 {
  font-size: var(--fs-semi-lg);
}
/* Footer Links CSS */
.footer__links h4 {
  font-size: var(--fs-semi-md);
  font-family: var(--sf-pro-display);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.04156rem;
  line-height: 2rem;
}

.footer__links a {
  font-size: 1.0625rem;
  font-family: var(--sf-pro-display);
  font-weight: 400;
  margin-top: 1.25rem;
  opacity: 0.8;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 0.6875rem;
}

.footer__social--icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

.footer__social--icons i {
  border: none;
  border-radius: 10%;
  transition: all 0.3s ease-out;
}

.footer__social--icons i:nth-of-type(1):hover {
  color: #0866ff;
  background-color: transparent;
}

.footer__social--icons i:nth-of-type(2):hover {
  color: #0A66C2;
  background-color: transparent;
}

.footer__social--icons i:nth-of-type(3):hover {
  color: #d62976;
  background-color: transparent;
}
/* ==================== Footer Section CSS End ==================== */

/* ==================== Copyright Section CSS Start ==================== */
.copyright {
  margin-bottom: 3.75rem;
}
.copyright__left p,
.copyright__right p {
  font-size: 0.9375rem;
  font-family: var(--sf-pro-display);
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.01781rem;
}

.copyright__left {
  gap: 2.12rem;
}

.copyright__left p {
  text-transform: capitalize;
}
/* ==================== Copyright Section CSS End ==================== */
